@import '../settings/font-families';
@import '../settings/font-sizes';

.Console {
	font-family: $font-family-monospace;
}

.Console-Item {
	display: block;
	margin: 6px;
	padding: 14px;
	border-left: 4px solid rgb(200,200,200);
	color: rgb(102,102,102);
	white-space: pre;
	word-wrap: break-word;
	word-break: break-all;
	font-size: $font-size-90;
}

.Console-Item--Faded {
	@extend .Console-Item;
	opacity: 0.5;
}

.Console-Item--Highlighted {
	@extend .Console-Item;
	border-left: 4px solid rgb(59,120,231);
	background: rgb(255,255,255);
	opacity: 1;
}
