.Form {
	border-bottom: 1px solid rgb(200,200,200);

	input[type=text],
	textarea {
		display: block;
		margin: 8px 0;
		padding: 8px 10px;
		width: 100%;
		outline: none;
		border: 1px solid rgb(225,225,225);
	}
}

.Form-Header {
	display: flex;
	flex-direction: row;
	background: rgb(230,230,230);
}

.Form-Header-Item,
.Form-Header-Button {
	display: inline-block;
	margin: 0;
	padding: 14px 16px;
	vertical-align: center;
}

.Form-Header-Item {
	flex: 2;
}

.Form-Header-Button {
	display: block;
	margin: 5px 7px;
	padding: 7px 9px;
	border: none;
	border: 1px solid rgb(180,180,180);
	background: rgb(225,225,225);
	cursor: pointer;

	&:hover {
		border: 1px solid rgb(160,160,160);
		background: rgb(215,215,215);
	}
}
