body{
  display:flex;
  flex-direction:row;
  
  font-family:helvetica, Arial;
  font-size:16px;
  
  color:rgb(51,51,51);
  background:rgb(245,245,245);
}
sidebar{
  display:block;
  min-width:250px;
  
  box-shadow:inset -1px 0px 0px rgb(200,200,200);
}
content{
  display:block;
  flex:2;
  
  overflow:scroll;
}

sidebar .logo,
sidebar label,
sidebar .item{
  display:block;
  padding:14px 16px;
  
  cursor:pointer;
}

sidebar .logo{
  font-size:18px;
  font-weight:700;
  
  color:rgba(255,255,255,0.95);
  background:rgb(59,120,231);
}
sidebar .logo:hover{
  background:rgb(39,100,211);
}

sidebar .logo + label{
  border-top:none;
}
sidebar label{
  border-top:1px solid rgb(200,200,200);
  padding:10px;
  color:rgb(80,80,80);
  
  font-size:12px;
  text-transform:uppercase;
  
  cursor:default;
}
sidebar img{
  display:inline-block;
  vertical-align:middle;
  
  height:24px;
  width:24px;
  padding-right:10px;
}

sidebar .item{
  padding:14px 24px;
  margin-right:1px;
}
sidebar .item:hover{
  background:rgb(230,230,230);
}

content centered{
  display:flex;
  flex-direction:row;
  
  width:100%;
  max-width:900px;
  min-width:400px;
  margin:50px auto;
}