<div class='Pane'>
  <a class='Pane-Header' href='./'>Venom</a>
  
  <div class='Pane-Content Nav'>
    <div class='Nav-Label--NoBorder'>Development Tools</div>
    <a class='Nav-Item{% if page == "scripts" %}--Active{% endif %}' href='scripts'><img src='images/scripts.svg'/>Scripts</a>
    <a class='Nav-Item{% if page == "scaffold" %}--Active{% endif %}' href='scaffold'><img src='images/scaffold.svg'/>Scaffold</a>
  
    <div class='Nav-Label'>Analytics</div>
    <a class='Nav-Item{% if page == "endpoints" %}--Active{% endif %}' href='endpoints'><img src='images/endpoints.svg'/>Endpoints</a>
    <a class='Nav-Item{% if page == "models" %}--Active{% endif %}' href='models'><img src='images/models.svg'/>Models</a>
  </div>
</div>