<!DOCTYPE html>
<html>
<head>
<style>

.Form pre{
  display:block;
  padding:14px;
  
  font-family:monospace;
  font-size:14px;
  color:rgb(102,102,102);
}

</style>

<title>Venom Scripts</title>

<meta charset='utf-8'/>

<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='mobile-web-app-capable' content='yes'>

<meta content='minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no' name='viewport'/>

<link rel='stylesheet' href='resources/css/main.css'/>

</head>
<body class='Pane-Frame'>


{% with 'scripts' as page %}
{% include 'partials/sidebar.html' %}
{% endwith %}


<div class='Pane scripts'>
  <div class='Pane-Header'>Scripts</div>
  <div class='Pane-Content Nav'>
    <div class='Search'>
      <input type='text' class='Search-Input' placeholder='Search'/>
    </div>
  </div>
</div>


<div class='Pane'>
  <div class='Pane-Header'>Script Setup</div>
  
  <div class='Pane-Bar Form'>
    <div class='Form-Header'>
      <span class='Form-Header-Item'>N/A</span>
      <span class='Form-Header-Button'>Execute</span>
    </div>
    <pre>N/A</pre>
    <!-- <input type='text' placeholder='Placeholder'/> -->
  </div>
  
  <div class='Pane-Content Console responses'>
    <div class='Console-Item--Faded'>> shell ready ...</div>
  </div>
</div>


<script>
(function(){
  
  var scripts = {{ scripts|safe }};
  var responses;
  
  window.addEventListener('load', Init);
  function Init(){
    var spans = AddScripts();
    BindClicks(spans);
    if (spans.length > 0)
      spans[0].click()
    
    var button = document.querySelector('.Form-Header-Button');
    button.addEventListener('click', ExecuteCurrentScript);
    
    responses = document.querySelector('.responses');
  }
  
  var currentSpan;
  
  function AddScripts(){
    var spans = [];
    
    var content = document.querySelector('.scripts .Pane-Content');
    for(var i=0,script; script=scripts[i++];){
      var span = document.createElement('div');
      span.setAttribute('class', 'Nav-Item');
      span.innerHTML = script[0];
      span.script = script;
      content.appendChild(span);
      spans.push(span);
    }
    
    return spans;
  }
  function BindClicks(spans){
    for(var i=0,span; span=spans[i++];)
      (function(span){
        span.addEventListener('click', function(){
          var active = document.querySelector('.scripts .Nav-Item--Active');
          if (active) active.setAttribute('class', 'Nav-Item');
          span.setAttribute('class', 'Nav-Item--Active');
          ShowScript(span);
        });
      })(span);
  }
  function ShowScript(span){
    currentSpan = span;
    
    var faded = document.querySelectorAll('.Console-Item--Faded');
    var highlighted = document.querySelectorAll('.Console-Item--Highlighted');
    
    for(var i=0,pre; pre=faded[i++];){
      if(pre.getAttribute('scriptname') == span.script[0])
        pre.setAttribute('class', 'Console-Item--Highlighted');
    }
    
    for(var i=0,pre; pre=highlighted[i++];){
      pre.setAttribute('class', 'Console-Item--Faded');
    }
    
    var title = document.querySelector('.Form-Header-Item');
    title.innerHTML = span.script[0] + ' script';
    
    var docs = document.querySelector('.Form pre');
    docs.innerHTML = span.script[1];
  }
  function ExecuteCurrentScript(){
    var script = currentSpan.script[0];
    
    responses.scrollTop = 0;
    
    var pre = CreatePre(script);
    pre.write('> EXECUTING ' + script + ' at ' + GetTime());
    pre.pend();
    
    fetch('scripts/execute/' + script, {
    	method: 'post',
      credentials: 'same-origin'
    }).then(function(response) {
      return response.json();
    }).then(function(json){
      LogOutput(pre, json)
    }).catch(function(err) {
      pre.stop();
    	pre.write('< Unknown Error Before Script Execution');
    });
  }




  function GetTime(){
    var date = new Date();
    
    var minutes = '' + date.getMinutes();
    if (minutes.length == 1) minutes = '0' + minutes;
    
    var seconds = '' + date.getSeconds();
    if (seconds.length == 1) seconds = '0' + seconds;
    
    return date.getHours() + ':' + minutes + ':' + seconds;
  }
  
  function CreatePre(script){
    var pre = document.createElement('div');
    pre.setAttribute('scriptname', script);
    pre.setAttribute('class', 'Console-Item--Highlighted');
    
    var interval;
    var pending = ['/', '-', '\\', '|'];
    var index = 0;
    var buffer = '';
    
    function UpdatePend(){
      pre.innerHTML = pre.innerHTML.split('\n').slice(0, -1).join('\n') + '\n' + pending[index++];
      index %= pending.length;
    }
    
    responses.insertBefore(pre, responses.children[0]);
    
    var self = {
      'pend': function(){
        pre.innerText += '\n';
        UpdatePend();
        interval = setInterval(UpdatePend, 150);
      },
      'stop': function(){
        if(interval)
          pre.innerText = pre.innerText.split('\n').slice(0, -1).join('\n');
        clearInterval(interval);
      },
      'write': function(value){
        pre.innerText += (pre.innerText ? '\n' : '') + value;
      },
      'buffer': function(value){
        buffer += (buffer ? '\n' : '') + value;
      },
      'send': function(){
        self.write(buffer);
        buffer = '';
      },
      'elem': pre
    }
    
    return self;
  }
  function LogOutput(pre, json){
    for(var i=0; i<json.printed.length; i++){
      var line = json.printed[i];
      pre.buffer(line);
    }
    pre.buffer('< '+ json.returned);
    pre.stop();
    pre.send();
  }
  
})();
</script>
</body>
</html>